.main-chat__message-list__unit{data: {message: {id: message.id}}}
  .main-chat__message-list__unit__data
    .main-chat__message-list__unit__data--name
      = message.user.name
    .main-chat__message-list__unit__data--date
      = message.created_at.to_s
  .main-chat__message-list__unit__comment
    - if message.content.present?
      .main-chat__message-list__unit__comment--cont
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?